*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(214, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.alert{
    position: fixed;
    top: 80px;
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
    z-index: 1;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}
.topo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    color: white;
}
.topo span{
    color: orange;
}
.geral{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.produto-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid red;
    width: 100%;
    padding: 15px;
}
.produto-carrinho p {
    font-size: 25px;
}