/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Links */
a{
    text-decoration: none;
    color: inherit;
}

/* TOPO FIXO */
.topo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    z-index: 10;
}
.topo a {
    font-size: 30px;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

header input{
    width: 45%;
    max-width: 500px;
    height: 35px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* BANNER */
.baner{
    margin-top: 90px; /* compensar o topo fixo */
    height: 350px;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.baner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.baner h1{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* LISTA DE PRODUTOS */
.conteine_produtos{
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* LISTA DE PRODUTOS JÁ EXISTENTE */
.produtos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
/* -------------------------------------- */

/* ESTILOS PARA CADA CARD INDIVIDUAL */
.card-produto {
    background-color: white;
    border-radius: 8px;
    overflow: hidden; /* Garante que a imagem respeite as bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex; /* Para organizar o conteúdo interno (imagem + info) */
    flex-direction: column;
    height: 100%;
}

.card-produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.link-produto img {
    width: 100%;
    height: 200px; /* Altura fixa para a imagem */
    object-fit: cover;
}

.info-produto {
    flex-grow: 1; /* Para garantir que o padding seja igual, mesmo com títulos longos */
    display: flex;
    flex-direction: column;
}

.info-produto h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
}

.preco {
    margin-left: 30px;
    font-size: 1.5em;
    color: #28a745; /* Um verde forte */
    font-weight: bold;
}

