*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(214, 211, 211);
}
a{
    text-decoration: none;
}
.topo{
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(29, 29, 29);
}
section{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 30px;
}
header input{
    width: 50vw;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.baner{
    height: 400px;
    position: relative;
}
.baner h1{
    position: absolute;
    top: 10vh;
    right: 8vw;
    text-align: center;
    color: white;
    font-size: 40px;
}
.conteine_produtos{
    height: 50vh;
    display: flex;
    justify-content: center
}
.produtos{
    border: solid red;
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}